[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
Flask-JWT-Extended = "*"
Flask-Cors = "*"
psycopg2-binary = "*"
gunicorn = "*"
celery = "*"
redis = "*"
PyYAML = "*"
plaid-python = "*"
python-dotenv = "*"
requests = "*"
marshmallow = "*"
Flask-Marshmallow = "*"
marshmallow-sqlalchemy = "*"
pytest = "*"
coverage = "*"
flask = "*"
werkzeug = "*"

[requires]
python_version = "3"

[scripts]
start = "flask run"
test = "pytest"
format = "black ."
lint = "flake8 ."
